@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.cen{
    text-align: center;
      font-family: "Inter", sans-serif;
}
.mr-at{
    margin:auto;
    display:flex;
    background-color: aqua;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
}
.row{
    margin:8px 0px;
}
.btn{
    padding: 20px;
    margin: 0px 3px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 9px;
    font-size: 15px;
    width:66px;


}
.row input{
 padding: 10px 35px;
 border:2px solid black;
 border-radius: 9px;
 margin: 0px;
 font-size: 20px;

}